# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env*.local
.env

# OS files
.DS_Store
*.pem

# IDEs
.vscode/
.idea/
